//OFF-WHITE Text Color: #FDF7F7
//Turquoise: #1abc9c
//Border Color: #AFCFC9
//Meal Card & Blurb Background-Color: #2F3837

body {
  font-family: sans-serif;
  background-color: #282C34;
  color: #FDF7F7;

  a {
    text-decoration: none;
  }

  label {
    display: block;
  }

  nav a {
    display: inline-block;
    margin: 1em;
  }

  form *{
    color: #000;
  }

  form div {
    margin: 1em;
    display: inline-block;
  }

  .navbar {
    font-size: 1.3em;
  }

  .navbar a {
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    color: #FDF7F7;
  }

  #view-prices-button {
    background-color: #78B3A7;
  }

  .banner {
    text-align: center;
  }

  .banner-heading {
    font-family: 'Arimo', sans-serif;
  }

  .ribbon-container {
    width: 80vw;
    margin: 3vh auto;
    background-color: #232E2B;
    border-radius: .3em;
    border: 2px solid #AFCFC9;
  }

  .blurb-container {
    border-bottom: 2px solid #AFCFC9;
    margin: .1em;
    background-color: #2F3837;
    text-align: center;
  }

  .blurb-container-title {
    font-size: 1.8em;
  }

  .blurb-container-description {
    font-size: 1.2em;
  }

  #grid-row {
    width: 98%;
    display: flex;
    justify-content: center;
    margin: auto;
  }

  #meal-card-container {
    margin: .5em .2em;
    width: 30vw;
    border: 1px solid #AFCFC9;
    background-color: #2F3837;
  }

  #meal-card-text {
    color: #FDF7F7;
    text-align: center;
  }

  .calendar {
    height: 50em;
    color: #0A0A0A;
    background-color: #888787;
  }
}

// .victory-chart {
//   margin-top: -3.8em;
// }

.trader-main {
  display: flex;
  justify-content: space-between;
  width: 50vw;
}

.swatch {
  width: 100px;
  height: 100px;
  margin: 0.5vw;
}

.swatch button {
  border: none;
}
.swatch button:focus {
  outline: 0;
}
.swatch img {
  object-fit: cover;
  width: 100px;
  height: 100px;
}

.trader-chart {
  width: 35vw;
  background-color: #202020;
  border-radius: .5em;
}

.buy-sell-panels {
  display: flex;
  width: 80vw;
  border: 1px solid white;
}

.buy-panel {
  width: 25vw;
}

.sell-panel {
  width: 25vw;
}

.trader-sidebar {
  background-color: #202020;
  padding: 2em;
  border-radius: .5em;
}

.trader-landing {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
